 <launch>
	<node pkg="calcul_erreur" name="calculEr" type="calculErreur.py">
		<param name="orange_red" type="double" value="255"/>
		<param name="orange_green" type="double" value="120"/>
		<param name="orange_blue" type="double" value="80"/>
		
		<param name="white_avg" type="double" value="255"/>
		<param name="black_avg" type="double" value="80"/>

		<param name="threshold" type="double" value="20"/>
	</node>
 
 </launch>
